* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "PT Serif", monospace;
  scroll-behavior: smooth;
  background: #ededed;
}

body {
  line-height: 1.4;
}

body.dark-mode {
  background-color: #191818;
  color: #ffffff;
}

.container {
  padding-top: 7vh; 
}

nav {
  background-color: white;
  color: #fff;
  padding: 15px 0 15px 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
  height: 7vh;
}


body.dark-mode nav {
  background-color: black;
}

nav .logo {
  height: 4vh;
  position: absolute;
  left: 30px;
}

nav .theme-switch{
  height: 4vh;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 70px;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #000;
  font-weight: bold;
  font-size: 1.35em;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s, border-bottom 0.3s;
}

body.dark-mode nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  color: #1b5089;
}

body.dark-mode nav ul li a:hover {
  color: #eaaa00;
}

nav ul li a.active {
  color: #1b5089;
}

body.dark-mode nav ul li a.active {
  color: #eaaa00;
}

.theme-switch {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.hero {
  position: relative;
  text-align: center;
  height: 93vh;
  margin: 0;
  padding: 0;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
  z-index: 1;
}

body.dark-mode .overlay{
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.95));
}

.hero-image {
  width: 100%;
  height: 100%;
  max-height: 93vh;
  display: block;
  object-fit: cover;
  opacity: 0.8;
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 950px;
  z-index: 2;
}

.hero-text h1 {
  font-size: 5em;
  color: #1b5089;
}

body.dark-mode .hero-text h1 {
  color: #eaaa00;
}

body.dark-mode .hero-text p {
  color: rgb(255, 255, 255);
  border-color: #eaaa00;
}

.hero-text p {
  font-size: 2em;
  color: rgb(0, 0, 0);
  border-style: solid none;
  border-color: #1b5089;
  width: 250px;
  display: inline-block;
  padding: 5px;
  margin-top: 20px;
}

.hero-text img {
  height:10vh;
  margin-bottom: 20px;
}

section {
  padding: 60px 20px;
  text-align: center;
}

section h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1b5089;
}

body.dark-mode section h2 {
  color: #f6b300;
}

section p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.image-ground-l{
  max-height: 80vh;
}

.image-ground-r{
  max-height: 80vh;
}

.content-section {
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  text-align: left;
}

#section1{
  margin-top: 7vh;
}

.image-container {
  flex: 0 0 35%;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.text-content {
  align-items: center;
  flex: 0 0 35%;
}

.text-content h2 {
  margin-bottom: 30px;
  text-align: center;
}

.text-content p {
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: left;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  flex: 0 0 30%;
}

.image-ground-l{
  padding-left: 30px;
  border-left: 3px solid #1b5089;
}

body.dark-mode .image-ground-l{
  border-left: 2px solid #eaaa00;
}

.image-ground-l:hover {
  transform: scale(1.02);
}

.image-ground-r{
  padding-right: 30px;
  border-right: 3px solid #1b5089;
}

body.dark-mode .image-ground-r{
  border-right: 2px solid #eaaa00;
}

.image-ground-r:hover {
  transform: scale(1.02);
}

.flip-horizontal{
  transform: scaleX(-1);
}

@media screen and (max-width: 768px) {
  nav {
    padding: 10px 0 10px 15px;
  }
  
  nav .logo {
    height: 5vh;
    left: 15px;
  }

  #section1{
    padding-top: 3vh;
  }

  nav .theme-switch {
    right: 15px;
  }
  
  nav ul {
    margin-left: 40px;
    margin-right: auto;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  .hero-text {
    top: 40%;
  }
  
  .hero-text h1 {
    font-size: 3.5em;
  }
  
  .hero-text p {
    font-size: 1.5em;
    width: auto;
  }
  
  section {
    padding: 40px 20px;
  }
  
  section h2 {
    font-size: 2em;
  }
  
  .content-section {
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    height: auto;
    margin-top: 20px;
    padding-bottom: 100px;
  }
  
  .image-container {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .text-content {
    flex: 0 0 100%;
    text-align: center;
  }
  
  .image-ground-l,
  .image-ground-r {
    max-width: 100%;
    border: none;
    padding: 0;
  }
  
  .arrow-container {
    display: none;
  }
}
